<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5433/self_pro</property>
		<property name="hibernate.connection.username">postgres</property>
		<property name="connection.password">admin</property>
		<!-- <property name="connection.password">bniopr</property> -->

		<property name="hibernate.jdbc.batch_size">20</property>
		<property name="hibernate.cache.use_second_level_cache">false</property>

		<!-- Use the C3P0 connection pool. -->
		<property name="hibernate.c3p0.min_size">10</property>
		<property name="hibernate.c3p0.max_size">100</property>
		<property name="hibernate.c3p0.acquire_increment\">1</property>
		<property name="hibernate.c3p0.idle_test_period">3000</property>
		<property name="hibernate.c3p0.max_statements">50</property>
		<property name="hibernate.c3p0.timeout">1800</property>
		<property name="hibernate.c3p0.validate">1800</property>

		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>

		<!-- Disable second-level cache. -->
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
		<property name="cache.use_query_cache">false</property>
		<!-- <property name="cache.use_minimal_puts">false</property> <property 
			name="max_fetch_depth">3</property> -->

		<property name="show_sql">true</property>
		<property name="use_sql_comments">false</property>
		<!-- <property name="format_sql">true</property> <property name="hbm2ddl.auto"></property> -->

		<mapping class="com.sdd.management.domain.Mmenu" />
		<mapping class="com.sdd.management.domain.Mnotif" />
		<mapping class="com.sdd.management.domain.Mproduct" />
		<mapping class="com.sdd.management.domain.Mproductgroup" />
		<mapping class="com.sdd.management.domain.Mproducttype" />
		<mapping class="com.sdd.management.domain.Muser" />
		<mapping class="com.sdd.management.domain.Musergroup" />
		<mapping class="com.sdd.management.domain.Musergroupmenu" />

		<mapping class="com.sdd.management.domain.Tcounterengine" />
		<mapping class="com.sdd.management.domain.Tnotif" />
		
		<mapping class="com.sdd.management.domain.Mincome" />
		<mapping class="com.sdd.management.domain.Mexpenses" />
		<mapping class="com.sdd.management.domain.Maim" />
		<mapping class="com.sdd.management.domain.Mpayment" />
		<mapping class="com.sdd.management.domain.Mbank" />
		<mapping class="com.sdd.management.domain.Tmutation" />
		<mapping class="com.sdd.management.domain.Tmutationdoc" />
		
	</session-factory>
</hibernate-configuration>